@import "../../scss/breakpoints";
@import "../../scss/mixins/scaling";

.page {
  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    position: fixed;
    z-index: 5;
    flex: 0 0 auto;
    width: 100%;
    transition: 0.5s ease;
  }

  &__main {
    flex: 1 0 auto;
    padding-top: vwm(80);

    @media (min-width: $screen-t) {
      padding-top: vwt(80);
    }

    @media (min-width: $screen-tl) {
      padding-top: vwti(130);
    }

    @media (min-width: $screen-d) {
      padding-top: vwxl(130);
    }
  }

  &__footer {
    position: relative;
    z-index: 5;
    flex: 0 0 auto;
  }
}
