//- Стандартный шаблон страницы

include mixins.pug

- isMainPage = false
- pageTitle = 'title'
- metaDescription = 'description'
- metaKeywords = 'keywords'
- src = paths

block variables

doctype html
html(class='no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=3, minimum-scale=0.1')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(name='google', content='notranslate')
    meta(name='HandheldFriendly', content='true')
    meta(name='robots', content='index, follow')

    //- Предзагрузка шрифтов или иных ресурсов
    link(rel='preload', href= src.fonts + 'Dance-Regular.ttf', as='font', type='font/ttf', crossorigin='anonymous')
    link(rel='preload', href= src.fonts + 'Raleway-Bold.ttf', as='font', type='font/ttf', crossorigin='anonymous')
    link(rel='preload', href= src.fonts + 'Raleway-BoldItalic.ttf', as='font', type='font/ttf', crossorigin='anonymous')
    link(rel='preload', href= src.fonts + 'Raleway-Italic.ttf', as='font', type='font/ttf', crossorigin='anonymous')
    link(rel='preload', href= src.fonts + 'Raleway-Light.ttf', as='font', type='font/ttf', crossorigin='anonymous')
    link(rel='preload', href= src.fonts + 'Raleway-LightItalic.ttf', as='font', type='font/ttf', crossorigin='anonymous')
    link(rel='preload', href= src.fonts + 'Raleway-Medium.ttf', as='font', type='font/ttf', crossorigin='anonymous')
    link(rel='preload', href= src.fonts + 'Raleway-MediumItalic.ttf', as='font', type='font/ttf', crossorigin='anonymous')
    link(rel='preload', href= src.fonts + 'Raleway-Regular.ttf', as='font', type='font/ttf', crossorigin='anonymous')
    link(rel='preload', href= src.fonts + 'Raleway-SemiBold.ttf', as='font', type='font/ttf', crossorigin='anonymous')
    link(rel='preload', href= src.fonts + 'Raleway-SemiBoldItalic.ttf', as='font', type='font/ttf', crossorigin='anonymous')

    //- Фавиконки (https://realfavicongenerator.net)
    link(rel='apple-touch-icon', sizes='76x76', href= src.img + 'favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href= src.img + 'favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href= src.img + 'favicon/favicon-16x16.png')
    link(rel='manifest', href= src.img + 'favicon/site.webmanifest')
    link(rel='mask-icon', href= src.img + 'favicon/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='theme-color', content='#ffffff')


    title= pageTitle

    block meta
      meta(name='description', content= metaDescription)
      meta(name='keywords', content= metaKeywords)

    block head
      link(rel='stylesheet', href= src.css + 'style.css')
      script
        include ../js/head-script.js

  body
    noscript У вас отключен JavaScript. Это пугает.

    .page
      .page__header
        +header
      .page__main
        block content
      .page__footer
        +footer
      +popup('call', 'Заказать звонок', 'Наш представитель свяжется с вами через несколько минут')
      +popup('free-lesson', 'Бесплатное пробное занятие', 'Наш представитель свяжется с вами через несколько минут')

    block templates

    script(src= src.js + 'bundle.js')

    block scripts
