@import "../../scss/breakpoints";
@import "../../scss/mixins/scaling";
@import "fluid";

@mixin body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

@mixin hero-title {
  font-weight: 400;
  font-size: vwm(45);
  font-family: var(--font-dance);
  line-height: 0.9;
  white-space: nowrap;

  @media (min-width: $screen-ti) {
    font-size: vwxl(150);
    line-height: 0.65;
  }
}

@mixin button-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.3px;

  @media (min-width: $screen-ti) {
    font-size: 20px;
    letter-spacing: 0.4px;
  }
}

@mixin footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1429;
}

@mixin nav-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1429;
}

@mixin fluid-text {
  font-size: fluid(24, 32, 320, 768);

  @media screen and (min-width: $screen-ti) {
    font-size: fluid(32, 48, 768, 1280);
  }

  @media screen and (min-width: $screen-d) {
    font-size: 48px;
  }
}

@mixin checkbox-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1429;
}

@mixin input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

@mixin textarea {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

@mixin field {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1429;
}

@mixin tabs-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.1429;
}
