@import "../../scss/breakpoints";
@import "../../scss/mixins/scaling";

.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: $screen-tl) {
    padding: 0 40px;
  }
}
