@import "../../scss/breakpoints";
@import "../../scss/mixins/scaling";

.section {
  &__top {
    display: flex;
    grid-column: 1 / span 4;
    gap: vwm(20);
    justify-content: space-between;

    @media (min-width: $screen-t) {
      gap: vwt(20);
    }

    @media (min-width: $screen-tl) {
      grid-column: 2 / span 10;
      gap: vwti(20);
    }

    @media (min-width: $screen-d) {
      gap: vwxl(20);
    }
  }
}
