@import "../../scss/breakpoints";
@import "../../scss/mixins/scaling";

.logo {
  $block-name: &; // #{$block-name}__element

  width: vwm(161);
  height: vwm(50);

  @media (min-width: $screen-ti) {
    width: vwxl(161);
    height: vwxl(50);
  }
}
