@import "../../scss/breakpoints";
@import "../../scss/mixins/scaling";
@import "../../scss/mixins/list-reset";

.menu {
  $block-name: &; // #{$block-name}__element

  padding: vwm(15) 0 vwm(40);
  overflow-y: auto;
  background-color: var(--back-primary);
  transform: translateX(-100%);
  transition: 0.3s ease;

  @media (min-width: $screen-t) {
    padding: vwt(15) 0 vwt(40);
  }

  [data-state="mobile-menu"] & {
    transform: translateX(0);
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: vwm(60);
    align-items: center;
    justify-content: space-between;

    @media (min-width: $screen-t) {
      gap: vwt(60);
    }
  }

  &__close {
    position: absolute;
    top: vwm(15);
    right: vwm(15);

    @media (min-width: $screen-t) {
      top: vwt(15);
      right: vwt(15);
    }

    @media (min-width: $screen-tl) {
      top: vwti(30);
      right: vwti(30);
    }

    @media (min-width: $screen-d) {
      top: vwxl(30);
      right: vwxl(30);
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    width: vwm(161);
    height: vwm(50);

    @media (min-width: $screen-t) {
      width: vwt(161);
      height: vwt(50);
    }
  }

  &__phone {
    margin-top: vwm(16);
    font-size: vwm(21);
    letter-spacing: vwm(0.4);

    @media (min-width: $screen-t) {
      margin-top: vwt(16);
      font-size: vwt(21);
      letter-spacing: vwt(0.4);
    }
  }

  &__call {
    margin-top: vwm(23);
    padding: vwm(10) vwm(20);

    @media (min-width: $screen-t) {
      margin-top: vwt(23);
      padding: vwt(10) vwt(20);
    }
  }

  &__nav {
    @include list-reset;

    display: flex;
    flex-direction: column;
    gap: vwm(25);
    text-align: center;

    @media (min-width: $screen-t) {
      gap: vwt(25);
    }

    li {
      a {
        font-size: vwm(15);
        line-height: 1;
        letter-spacing: vwm(0.3);
        text-decoration: none;
        transition: 0.3s ease;

        @media (min-width: $screen-t) {
          font-size: vwt(15);
          letter-spacing: vwt(0.3);
        }
      }
    }
  }

  &__site {
    display: flex;
    gap: vwm(15);
    align-items: center;

    @media (min-width: $screen-t) {
      gap: vwt(15);
    }

    &:hover #{$block-name}__site-icon {
      color: var(--link-hover);
    }

    span {
      font-size: vwm(15);
      line-height: 1;
      letter-spacing: vwm(0.3);

      @media (min-width: $screen-t) {
        font-size: vwt(15);
        letter-spacing: vwt(0.3);
      }
    }
  }

  &__site-icon {
    width: vwm(26);
    height: vwm(25);
    color: var(--front-primary);
    transition: 0.3s ease;

    @media (min-width: $screen-t) {
      width: vwt(26);
      height: vwt(25);
    }
  }
}
