@use "sass:color";

:root {
  --color-black: #000;
  --color-black-25: rgba(0, 0, 0, 0.25);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-white: #fff;
  --body-color: var(--front-primary);
  --body-bg: var(--back-primary);
  --font-base: var(--font-raleway);
  --font-raleway: Raleway, sans-serif;
  --font-dance: Dance, sans-serif;
  --font-size-root: 100%;
  --font-size-base: 1rem;
  --font-weight-base: 400;
  --line-height-base: 1.25;
  --front-primary: #000;
  --front-primary-50: rgba(0, 0, 0, 0.5);
  --front-secondary: #f10132;
  --front-secondary-50: rgba(241, 1, 50, 0.5);
  --front-invert: #fff;
  --back-primary: #fff;
  --back-secondary: #fbbfcc;
  --back-secondary-20: rgba(255, 154, 180, 0.2);
  --button-primary: #f10132;
  --button-primary-hover: rgba(241, 1, 50, 0.7);
  --button-secondary: #fff;
  --button-secondary-hover: var(--back-secondary-20);
  --link-hover: rgba(0, 0, 0, 0.7);
  --border-input: rgba(241, 1, 50, 0.5);
  --border-input-focus: rgba(241, 1, 50, 1);
}
