//- Все примеси в этом файле должны начинаться c имени блока (popup)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт в сборку

mixin popup(id, title, text, mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +popup('some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' popup--' + modsList[i].trim();
      }
    }

  .hystmodal(aria-hidden='true', id= id, class= allMods)&attributes(attributes)
    .hystmodal__wrap
      .hystmodal__window(role='dialog', aria-modal='true')
        +close()(class='popup__close')
        .popup
          .popup__top
            .popup__title!= title
            .popup__text!= text
          form.popup__form(action='', method='post')
            +field('text', '', 'Имя', 'firstName')
            +field('phone', '', 'Телефон', 'phone')
            +button('submit', 'Оставить заявку', 'primary')(class='popup__submit')
          .popup__privacy Заполняя форму вы даёте согласие на обработку
            a.link.popup__privacy-link(href='#')  персональных данных
